@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@400;500;600&display=swap')

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
    
}

body{
   
    
    font-family: 'Pridi', serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
   
   
    
    }


/*----------------------nav bar-------------------------*/
.bandeau{
    text-align: left;
    font-size: 2em;
    width: 1900px;
    box-sizing: border-box;
    background-size: cover;

    
}

.slogan{
    text-align: center;
    font-size: 1.4em;
}
.planete{
    text-transform: uppercase;
}
.plaisir{
    color: rgb(210, 160, 14);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4em;
    text-shadow: 1px 2px 2px black ;

}
.horraires{
    text-align: center;
}


/*------------------------container-----------------------------------------------*/

.container{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: 324px 324px 290px;
    height: 100vh;
   
 
   
}

.container img{
 
  max-width: 290px;  
  max-height: 280px;
}

h3{
    text-transform: uppercase;
    text-align: left;
}
/*----------------------------------------*/

.item1{
    grid-column-start: 1;
    grid-row-start: 1;  
    padding: 20px;
    text-align: center;

}
.item2{
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 20px;
    text-align: center;
}
.item3{
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
    padding: 20px;
}

.item4{
    grid-column-start: 4;
    grid-row-start: 1;
    text-align: center;
    padding: 20px;
}

.item5{
    text-align: center;
    padding: 20px;
    grid-column-start: 5;
    grid-row-start: 1;
}

.item6{
    text-align: center;
    padding: 20px;
    grid-column: 5;
    grid-row: 2;
}

.item7{
    padding: 20px;
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 2;
}

.item8{
    text-align: center;
    padding: 20px;
    grid-column-start: 2;
    grid-row-start: 2;

}
.item9{
    text-align: center;
    padding: 20px;
    grid-row-start: 1;
    grid-column-start: 6;
}
.item10{
    text-align: center;
    padding: 20px;
    grid-row-start: 2;
    grid-column-start: 1;
}
.item11{
    grid-column-start: 4;
    grid-row-start: 2;
    text-align: center;
    padding: 20px;

}

.item12{
    padding-top: 20px;
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 2;
    
}

.item13{
    text-align: center;
    padding: 20px 20px 0 0;
    grid-column-start: 6;
    grid-row-start: 3;
    background: #333333;

}
.item14{
    text-align: center;
    padding: 20px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background: #333333;
}
.item15{
    text-align: center;
    padding: 20px;
    grid-row-start: 3;
    grid-column-start: 3;
    background: #333333;
}
.item16{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    text-align: center;
    padding: 20px;
    background: #333333;

}

.item17{
    text-align: center;
    padding: 20px;
    grid-row-start: 2;
    grid-column-start: 6;
    
}
/*---------------------liste-------------------------------*/
li a:hover{
    background-color: grey;
}


li a{ 
    text-decoration: none;
    font-weight: 800;
    line-height: 1.5rem;
    
}

/*------------------------------------------------------------------*/

.item8 img:hover{
    transform: scale(2);

}

.item13 h3{
    color: #fff;
    padding-left: 40px;
}
.item13 ul li{
    list-style: none;
    text-align: left;
    
    
}
.item13 ul li a{
    color: #fff;
}

/*------------------------------------------------*/

.item14 h3{
    color: #fff;
    padding-left: 20px;
   
}
.item14 ul{
padding-left: 20px;
}


.item14 ul li{
    list-style: none;
    text-align: left;
}
.item14 ul li a{
    color: #fff;
}

/*------------------------------------*/
.item16 h3 {
    color: #fff;
}


/*------------------------------1600--------------------------------------*/

@media screen (max-width: 1600px)
{

    .bandeau {
        width: 100px;
    }
    .bandeau img{
        
        max-width: 1600px;
        
    }
    .container{
       
        width: 1600px;
        
    }
    .item1{
        padding: 10px;
    }

    .item2{
        padding: 10px;
    }

    .item3{
        padding: 10px;
    }

    .item4{
        padding: 10px;
    }

    .item5{
        padding: 10px;
    }

    .item6{
        padding: 10px;
    }
    .item7{
        padding: 10px;
    }

    .item8{
        padding: 10px;
    }

    .item9{
        padding: 10px;
    }

    .item10{
        padding: 10px;
    }

    .item11{
        padding: 10px;
    }

    .item12{
        padding: 10px;
    }
   
    .item13{
        grid-column: 6;
        grid-row: 3;
       
    }
    .item17{
        background: #fff;
        grid-column: 6;
        grid-row: 2;
        padding-top: 10px;
            
    
      
    }

    .container img{
        width:240px;
    }



}

/*------------------------------1440--------------------------------------*/
@media screen and (max-width: 1440px) 
 {
     .bandeau{
         max-width: 1440px;
     }
    .bandeau img{
        width: 1440px;
    }
    .container{
        grid-template-columns: repeat( 6 , 1fr);
        max-width: 1440px;
        
    }
    .container img{
        width:200px;
    }
   
   
   
    .item9{
        display:;
    }
    .item13{
        grid-column-start: 6;
        grid-row: 3 ; 
       

}


.item16 {
    font-size: smaller;
}


}
/*------------------------------1024--------------------------------------*/

@media screen and (max-width: 1024px)  
{

.bandeau{
    width: 1024px;
}

.bandeau img{
    width: 1024px;
}

.horraires{
    width: 1024px;
    text-align: center;
}
.container{
    width: 1024px;
    grid-template-rows: 200px auto auto;
}
.container img{
    width: 140px;
}

.slogan{
    font-size: smaller;
    font-weight: 800;
}

.item1{
    padding: 0px;
}

.item2{
    padding:0;
}

.item3{
    padding: 0;
}

.item4{
    padding: 0;
}

.item5{
    padding: 0;
}

.item6{
    padding: 0;
}

.item7{
    padding: 50;
}

.item8{
    padding: 0;
}

.item9{
    padding: 0;
}

.item10{
    padding: 0;
}

.item17{
    padding: 0;
}

.item15{
    display: none;
}



}

/*------------------------------768--------------------------------------*/

@media screen and (max-width: 768px)  
{

.container{
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(5 , 1fr);
    max-width: 768px;

}

.container img{
    width: 110px;
}

.bandeau{
    width:768px;
}

.bandeau img{
    width: 768px;
}

.horraires{
    width: 768px;
}

.slogan{
    font-size: smaller;
}


.item13 h3{
    font-size: smaller;
}


.item14 h3{
    font-size: smaller;
}

.item16 h3{
    font-size: smaller;
   
}

.item1{
    padding: 0px;
}

.item2{
    padding:0;
}

.item3{
    padding: 0;
}

.item4{
    padding: 0;
}

.item5{
    padding: 0;
    grid-row: 3;
    grid-column: 1;

}

.item6{
    padding: 0;
    grid-row: 3;
    grid-column: 3;
}

.item7{
    padding: 50;
}

.item8{
    padding: 0;
}

.item9{
    padding: 0;
    grid-row: 3;
    grid-column: 2;
}

.item10{
    padding: 0;
}



.item13{
    font-size: smaller;
    grid-row: 5;
    grid-column: 4;

}

.item14{
    font-size: smaller;
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 1;
}

.item16{
    grid-row: 5;
    grid-column:2/4 ;
}


.item17{
    padding: 0;
    grid-row: 3;
    grid-column: 4;
}

}

/*------------------------------510--------------------------------------*/
@media screen and (max-width: 510px)
{
    .bandeau{
        max-width: 510px;
    }

    .bandeau img{
        max-width: 510px;
    }

    .horraires{
        max-width: 510px;
        font-size: smaller;
        font-weight: 800;
    }

    .slogan{
        max-width: 510px;
        font-size: xx-small;
    }

.container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7 , 1fr);
    max-width: 510px;
    
}

.container img{
 width: 220px;
 max-width: 220px;
    
   
}

.item3{
    grid-row: 4;
    grid-column: 1;
}

.item4{
    grid-row: 4;
    grid-column: 2;
}

.item6{
    grid-row: 5;
    grid-column: 2;
  
}

.item7{
    display: none;
}

.item11{
    grid-row: 6;
    grid-column: 1;
}

.item12{
    grid-row: 5;
    grid-column: 1;
   
}

.item13{
    grid-row: 8;
    grid-column-start: 1;
    grid-column-end: 3;

}

.item14{
    grid-row: 7;
    grid-column: 1;
}

.item16{
    grid-row: 7;
    grid-column: 2;
}

.item17{
    grid-row: 6;
    grid-column: 2;
}



}

/*------------------------------425--------------------------------------*/
@media screen and (max-width: 425px)
{
    .bandeau{
       width: 425px;
    }
    .bandeau img{
        max-width: 425px;
    }

    .horraires{
        max-width: 425px;
        text-align: center;
    }
    .slogan{
        width: 425px;
        text-align: center;
    }

    .container{
        width: 425px;
    }
    .container img{
      width: 180px;
    }
}

/*------------------------------390--------------------------------------*/

@media screen and (max-width: 390px)
{
    .horraires{
        width: 390px;
        font-size: 8px;
        text-align: center;
    }

    .slogan{
        width: 390px;
        font-size: xx-small;
        display: none;
    }

    .bandeau{
        max-width:390px; 
    }
    .bandeau img{
      width: 390px;
       
    }
   
    .container{
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(7 , 1fr);
        box-sizing: border-box;
        width: 100%;
        width: 390px;
       

       
    
}
 
.container img{
    width: 150px;
    height: auto;
    justify-content: center;
   
}

.item1{
  
    
}

.item2{
    grid-row: 3;
    justify-content: center;
  
}

.item3{
    grid-row: 5;
    grid-column: 1;
}

.item4{
    grid-column: 2;
}

.item5{
    grid-column: 2;
    grid-row: 2;
}

.item6{
    display: none;
}

 .item7{
       display: none;
}
.item8{
    grid-column: 1;
    grid-row: 3;
}

.item9{
    grid-row: 2;
    grid-column: 2;
}

.item11{
    display: none;
}

.item12{
    display: none;
    }

.item13{
    grid-row: 6;
    grid-column: 1;
    }


.item14{
    grid-row: 6;
    grid-column: 2;
}

.item15{
    display: none;
}

.item16{
    grid-row: 7;
    grid-column: 1 / 3;
    font-size: smaller;
}

.item17{
    grid-row: 5;
    grid-column: 2;
}
    
    
       

}