@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@400;500;600&display=swap')

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
    
}

body{
    background: url()no-repeat 50% 50% ;
    background-size:cover;
    font-family: 'Pridi', serif;
    height: 100vh;
    background-attachment: fixed;
    width: 100%;
    
 
   
    
    }

main{
    padding: 30px;
}
/*----------------------nav bar-------------------------*/
.bandeau{
    text-align: left;
    font-size: 2em;
    width: 1900px;
    
}

.slogan{
    text-align: center;
    font-size: 1.4em;
}
.planete{
    text-transform: uppercase;
}
.plaisir{
    color: rgb(210, 160, 14);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4em;
    text-shadow: 1px 2px 2px black ;

}
.horraires{
    text-align: center;
}

p {
    padding: 30px;
}
/*------------------------container-----------------------------------------------*/

.container{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(10, 1fr);
    grid-auto-flow: dense;
    grid-template-rows:  280px ;
    height: 100vh;
    
}

.container img{
    
  max-width: 290px;  
  max-height: 280px;
}

 .mentions{
    padding: 20px;
    text-transform: uppercase;
   font-size: 1.4rem;
}

.legal{
    padding:0px 30px;
    text-decoration: underline;
   
}

h3{
    text-transform: uppercase;
    text-align: left;
    padding-left:20px;
}

h4{
    padding: 30px;
}


li{
    list-style: none;
}

li a:hover{
    background-color: grey;
    
}

li a{ 
    text-decoration: none;
    font-weight: 800;
    color: #fff;
    line-height: 1.5rem;
    font-size: 16px;
    
}



.footer{
    color: #fff;
}
ul li{
line-height: 1.2rem;
}



/*---------------------------------------------------------------------------------*/

.item1{
    
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    background: #333;
    text-align: left;
    padding-left: 20px;

}

.item1 h3{
    color: #fff;
}

.item2{
   
    grid-column-start: 1;
    grid-column-end: 4;
    background: #333;
    text-align: left;
}

.item2 h3{
    color: #fff;
}
.item3{
    
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    background: #333;
}
.item1 h3{
    padding-left: 40px;

}


p{
    font-size: 18px;
}
/*----------------media 1600px----------*/

@media screen  (max-width: 1600px){
    .bandeau img{
        width: 100%;
        max-width: 1600px;
    }
}
/*----------------media 1480----------*/
@media screen and (max-width: 1480px){

    .bandeau img{
        max-width: 1480px;
    }
}
/*----------------media 1370----------*/
@media screen and (max-width: 1370px){

    .bandeau{
        width: 1370px;
    }
    .bandeau img{
        max-width: 1370px;
    }
}
/*----------------media 1270----------*/
@media screen and (max-width: 1270px){

    .bandeau img{
        
        max-width: 1270px;
    }

    .bandeau{
        width: 1270px;
    }
}
/*----------------media 1180----------*/

@media screen and (max-width: 1180px ){

    .bandeau{
       width: 1180px;
    }
    .bandeau img{
        
        max-width: 1180px;
    }
}
/*----------------media 1090----------*/
@media screen and (max-width: 1090px ){
    .bandeau img{
        width: 100%;
        max-width: 1090;
    }
    .horraires{
        text-align: center;
    }
}
/*----------------media 1024----------*/
@media screen and (max-width: 1024px ){
    .bandeau{
        width: 1024px;
    }

    .bandeau img{
        width: 100%;
        max-width: 1024px;
    }

section .slogan{
  font-weight: 800;
  font-size: 18px;
}
.item1{
    padding:0;
}
}
/*----------------media 950----------*/
@media screen and (max-width: 950px){
    .bandeau{
        width: 950px;
    }
    .bandeau img{
        width: 100%;
        max-width: 950px;
    }
}
/*----------------media 885----------*/
@media screen and (max-width: 885px){
    .bandeau{
        width: 885px;
    }
    .bandeau img{
        width: 100%;
        max-width: 885px;
    }
    .item1 ul{
      padding:0px;
    }
    .item1 h3{
        padding: 20px;
        padding: 0;
    }

    .item2 ul{
        padding: 10px;
    }

    .item2 h3{
        font-size: 14px;
    }

 

    .item3 h3{
        font-size: 12px;
    }


    section .plaisir{
        font-size: 22px;
    }
}

/*----------------media 768----------*/

@media screen and (max-width: 768px){
    .bandeau{
        width: 768px;
    }
    .bandeau img{
        width: 100%;
        max-width: 768px;
    }

    section .slogan{
        font-size: 14px;
        font-weight: 800px;
      }

    .item1 h3{
        font-size: 12px;
    }
    .item2 h3{
      
        font-size: 12px;
}
.item2 ul{
    padding: 10px;
}
.item2 ul li{
    font-size:12px;
}


      .item3 h3{
        font-size: 9px;
    }
    .item3 h3 ul{
        font-size: 12px;
    }

}
/*----------------media 600----------*/

@media screen and (max-width: 600px){
    .bandeau{
        width: 600px;
    }
    .bandeau img{
        width: 100%;
        max-width: 600px;
    }
    .mentions{
        text-align: center;
    }

   .slogan{
       display: none;
   }

   .horraires{
        color: ;
        font-size: 16px;
   }


   .item3 h3{
       display: none;

   }

  


  

/*----------------media 320----------*/

@media screen and (max-width: 320px){
    .bandeau img{
        width: 100%;
        max-width: 320px;
    }
    .container{
        max-width: 320px;
    }
    p{
        text-align: justify;
    }
    .mentions {
        font-size: 16px;
    }
    p{
        font-size: 12px;
    }
    .item1{
        grid-row-start: 2;
        grid-column-start: 1;

    }
    .item2{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 11;
        
    }

    
    .item4{
        display: none;
    }
    

}

@media screen and (max-width: 390px){
    .bandeau{
        width: 390px;
    }
    
    .bandeau img{
        width: 390px;
    }

    .horraires{
        font-size: small;
        text-align: center;
    }


}

@media screen and (max-width: 320px){
    .bandeau{
        width: 320px;
    }
    
    .bandeau img{
        width: 320px;
    }

    .container{
        grid-template-rows: 160px 260px;
        
    }

.item1 ul{
        font-size:;
}

.item2 h3{
    display: none;
}

.item2 ul li{
    font-size: xx-small
}

.item3{
    display: none;
}
}