@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@400;500;600&display=swap')

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    width: 100%;
    
}

body{
    
    font-family: 'Pridi', serif;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    
    
    }


/*----------------------nav bar-------------------------*/
.bandeau{
    text-align: left;
    font-size: 2em;
    width: 1900px;
   
    box-sizing: border-box;
    background-size: cover;
    
    

}

.slogan{
    text-align: center;
    font-size: 1.4em;
}
.planete{
    text-transform: uppercase;
}
.plaisir{
    color: rgb(210, 160, 14);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4em;
    text-shadow: 1px 2px 2px black ;

}
.horraires{
    text-align: center;
}


/*------------------------container-----------------------------------------------*/

.container{
    width: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto  auto auto 260px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
   
   
    
}

.container img{
    
  max-width: 290px;  
  max-height: 280px;
}
   
/*----------------------------------------*/

.slider{
    
    position: relative;
    display: flex;
    justify-content: center;
    height:400px;
    top: 0px;

    
    
   
}

.slider img{
    object-fit: cover;
    height: 100%;
    width: 800px;
    max-height:360px;
    position: absolute;
    top:0px;
    display: center;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 60px;
    padding: 0;
    z-index: 10;
    border-radius: 6px;
    
}

.slider img.active {
    opacity: 1;
}

.suivant, .precedent{
    color: #fff;
    font-size: 3rem;
    top:800px;
    position: absolute;
    top: -50%;
    transform: trfanslateY(-50%);
    cursor: pointer;
    z-index: -25;
    
}

.suivant{
    right: 40rem;
}

.precedent{
    left: 40rem;
}

/*-------------------items---------------------*/

h3{
    text-transform: uppercase;
    text-align: center;
}


.item1{
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;  
      
}



.item2{
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    
      
}

.item3{
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
    
    
}
.item4{
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 6;
    text-align: justify;
    padding: 20px;
 
    

}


.item5{
    grid-column-start:5;
    grid-row-start: 1;
    font-weight: 800;
    text-align: center;
    font-size: 1.2rem;
   
   
   
}

.item6{
    grid-column-start: 4;
    grid-row-start:1;
    padding-left: 0px;
    text-align: center;
    
}

/*.item8{
    grid-column-start: 7;
    grid-row-start: 3;
    color: #333333;
}
*/

    
.mail{
    font-weight: 600;
}

.item9{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    text-decoration: none;
    list-style: none;
    background-color: #333333;
    line-height: 1.4;
    padding: 20px;

}


li a:hover{
    background-color: grey;
    
}


 li{
   
   list-style: none;
  
}

li a{ 
    text-decoration: none;
    font-weight: 600;
    line-height: 1.5rem;
   
}


.item10{
    grid-column-start: 6;
    grid-row-start: 3;
    background: #333333 ;
    text-align: left;
    padding: 20px;
}


.articles{
    padding-right: 85px;
}


.item11{
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    text-align: justify;
}
.item12{
    grid-column: 3;
    grid-row: 2;
    Padding: 20px;
    text-align: justify;
    
    
      
}
.item13{
    grid-column: 6;
    grid-row:1;
    padding: 20px;
    
 
    
}
.item14{
    grid-column: 6;
    grid-row: 2;
    Padding: 0px;
    
}

.item16{
    padding: 20px;
    grid-column-start: 1;
    grid-row-start: 2;
}

.item17{
    padding: 20px;
    grid-column-start: 6;
    grid-row-start: 2;
    text-align: justify;
    padding-right: 30px;
    padding-left: 10px;
}
.item18{
  
    grid-column-start: 5;
    grid-row-start: 4;
    background: #333333;
    text-align: center;
}

.item19{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 3 ;
    background: #333333;
    padding: 20px;
}
.item20{
    background: #333333;
    grid-column-start: 6;
    grid-row-start: 3;
}
.item20{
    padding: 0px;
    grid-column-start: 5;
    grid-row-start: 3;
}

.item21{
    padding: 20px;
    grid-column-start: 1;
    grid-row-start: 4;
}

li a{
    line-height: 1.5rem;
}
/*--------------------------titre h3-------------------------*/

.titre {
    font-weight: 800;
    padding: 0px;
    color: #333333;
    
}
/*--------------------------item4-------------------------------*/
.item4 a{
    
    text-decoration: none;
}
/*---------------------------item 9------------------------*/

.item9 h3{
    color: #fff;
    text-align: left;
}


.item9 ul li a{
    color: #fff;
}
.item9 ul{
    padding: 0px;
}

/*---------------------------------------item 10-------------------*/

.item10 h3{
    color: #fff;
}


.item10 ul li a{
    text-align: left;
    color: #fff;
}
/*------------------------item 17------------------------*/
.item17 a{
text-decoration: none;
}

/*-----------------------------------------------------------------*/


.item19 h3{
    color: #fff;
}
/*----------------------------medias ----1600----------------------------------*/

@media screen and (max-width: 1600px){
   
    .container{
       
        grid-template-columns: repeat(6, 1fr);
        padding: 10px;
           
    }
    .bandeau img{
        
        
        width: 100%;
        max-width:1600px;
        text-align: center;
      
        
    }
    .slider img{
        position: absolute;

    }
}

/*------------------media 1440----------*/

@media screen and (max-width: 1440px) {
    .bandeau img{
        max-width: 1500px;
        border: 5px solid white;
       
      
     
}
    .container{
        box-sizing: border-box;
        width: 1460px;
        grid-template-columns: repeat(6 , 1fr);
        width: 100%;
        padding:0px;
        
   
}

}
/*---------------media 1280------------*/
@media screen and (max-width: 1280px) {
    .bandeau img{
        max-width: 1280px;
        
       
}
}
/*---------------media 1200------------*/
@media screen and (max-width: 1200px) {
    .bandeau img{
        max-width: 1200px;
        
       
}
}

/*---------------media 1110------------*/
@media screen and (max-width: 1110px) {
    .bandeau img{
        max-width: 1110px;
        
       
}
}

/*------------------------media 1024--------------*/

@media screen and (max-width: 1024px) {
    .bandeau img{
        max-width: 1024px;
        
       
}

    .container{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        grid-template-rows: repeat(4, 1fr);
        box-sizing: border-box;
        width: 100%;
               
}
.item3{
    padding: 0;
}
.item4{
    
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 4;
}
.item5{
grid-column-start: 4;
grid-row-start: 1;
}
    

.item6{
   
    display: none;
    
}

.item9{
   grid-column-start: 1;
}
.item10{
    grid-row-start: 3;
    grid-column-start: 4;
}
.item11{

}
.item12{
    
   
}
.titre{
    display: none;
}


.item13{
    grid-row-start: 3;
    grid-column-start: 2;
    display: none;
}
.item17{
    grid-row-start: 4;
    display: none;
}

.item19{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    
}

.horraires{
  text-align: center;
  color: rgb(210, 160, 14);
  font-weight: 800;
  text-shadow: 1px 1px 1px black;
  width: 1024px;
  
}
.slogan{
    width: 1800px;
}


.slider img{
    width: 750px;
}
.slogan{
    display: none;
}


}




/*----------------media 768-----------*/
@media screen  and (max-width: 768px){
.horraires{
    width: 700px;
    padding-left: 380px;
    
}
.container{
    grid-template-columns: repeat(3 , 1fr);
  
}

.bandeau img{
    max-width: 768px;
}
.horraires{
    padding: 0;
    text-align: center;

}


.slider{
   
   width: auto;
   text-align: center;
}
/* --------------item 2------------------------- */
.item2{
    display: none;
    
}
/* ---------------item 4 ------------------------*/
.item4{
    display: none;
}
/* --------------------item 5 ---------------------*/
.item5{
    grid-column-start: 2;
}
/*----------------------------- item 8 -------------------*/
.item8{
    display: none;
}

/* --------------------------item 9----------------------------- */
.item9 h3{
font-size: 14px;
}
.item9 ul li{
    font-size: 12px;
}
/*--------------------------------- item 10 ----------------------*/
.item10{
    grid-column-start: 3;
}
.item10 h3{
    font-size: 14px;
}
.item10  ul li{
font-size: 12px;
}
/*------------------------------ item 14--------------------------- */
.item14{
    display: none;
}
/* ---------------------------item 16 --------------------------------*/
.item16{
   
}
/* -------------------------------item 19------------------------------ */
.item19{
    grid-column-start: 2;
    grid-column-end: 2;
}

.item19 h3{
    font-size: 12px;
}
/*-------------------------------------- item 20---------------------------- */
.item20{
    display: none;
}
    
}
@media screen and (max-width: 600px)
{
    .slider{
        display: none;
    }
    .bandeau img{
        max-width: 600px;
    }
    .horraires{
        width: 600px;
        text-align: center;
        font-size: 16px;
        font-weight: 800;


    }

    .container{
        grid-template-columns: repeat(2 , 1fr);
        width: 600px;
        grid-template-rows: repeat(3 , 1fr);

    }
    .item2{
        display: grid;
        grid-column-start: 1;
        grid-row-start: 2;
    }
    

    .item3{
        display: none;
        grid-row-start: 2;
        grid-column-start: 1;
    }
.item6{
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
}

    .item9{
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .item10{
        grid-column-start: 1;
        grid-row-start 4;
    }
    .item11{
        display: none;
    }
.item12{
    display: none;
}

    .item16{
        display: none;
    }
    .item19{
        display: none;
    }
    
}