@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@400;500;600&display=swap')

*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

body{
    background: url(./img/fond-mer.jpg)no-repeat 50% 50%;
    background-size:cover;
    font-family: 'Pridi', serif;
    height: 100vh;
    background-attachment: fixed;
    width: 100%;
    /*background-color: rgba(210, 160, 14, .18);*/
    background-color:rgba(41,140,205, .3);
    
     
    }


/*----------------------nav bar-------------------------*/
.bandeau{
    text-align: center;
    font-size: 2em;
    
}

.slogan{
    text-align: center;
    font-size: 1.4em;
}
.planete{
    text-transform: uppercase;
}
.plaisir{
    color: rgb(210, 160, 14);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4em;
    text-shadow: 1px 2px 2px black ;

}
.horraires{
    text-align: center;
}


/*------------------------container-----------------------------------------------*/

.container{
    width: 100vh;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:
    max-width: 100vh;
    
    
}

   
/*----------------------------------------*/

.slider{
    
    position: relative;
    display: flex;
    justify-content: center;
    height:340px;
    /*border: 3px solid rgb(210, 160, 14);*/
    top: 0px;

    
    
   
}

.slider img{
    object-fit: cover;
    height: 100%;
    width: 800px;
    max-height:360px;
    position: absolute;
    top:0px;
    display: center;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 60px;
    padding: 0;
    z-index: 10;
    border-radius: 6px;
    
}

.slider img.active {
    opacity: 1;
}

.suivant, .precedent{
    color: #fff;
    font-size: 3rem;
    top:800px;
    position: absolute;
    top: -50%;
    transform: trfanslateY(-50%);
    cursor: pointer;
    z-index: -25;
    
}

.suivant{
    right: 40rem;
}

.precedent{
    left: 40rem;
}

/*-------------------items---------------------*/

h3{
    text-transform: uppercase;
    text-align: center;
}

.item1{
    grid-column-start: 5;
    grid-row-start: 1;
    font-weight: 800;
    text-align: center;  
    padding-right: 30px;
    
}
.item2{
    grid-column-start: 4;
  
    grid-row-start: 1;
    padding-top: 100px;
    
    
}
.item3{
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 20px;
}
.item4{
    grid-template-rows: 1;
    grid-column-start: 6;
    padding-left: 50px;
}


.item5{
    grid-column-start:2;
    grid-row-start: 1;
    font-weight: 800;
    text-align: center;
    font-size: 1.2rem;
}
.item6{
    grid-column: 1;
    grid-row: 2;
    Padding-top: 70px;
    
}
.item7{
    grid-column: 3;
    grid-row-start:3 ;
    text-align: center;
}

.item8{
    grid-column:2 ;
    grid-row: 3;
}
    
.mail{
    font-weight: 600;
}

.item9{
    grid-column-start: 1;
    grid-row-start: 3;
    text-decoration: none;
    list-style: none;

}


li a:hover{
    background-color: #fff;
    
}
 li{
   
   list-style: none;
  
}

li a{ ;
    text-decoration: none;
    font-weight: 600;
    color: black;

    
}


.item10{
    grid-column-start: 1;
    grid-row: 4;
    
}
.item10 ul{
    text-align: center;
}



.articles{
    text-align: center;
}


.item11{
    grid-column: 1;
}
.item12{
    grid-column: 2;
    grid-row: 2;
    
    Padding: 70px;
    
    
    
      
}
.item13{
    grid-column: 3;
    grid-row: 2;
    
    Padding: 70px;
   
}
.item14{
    grid-column: 4;
    grid-row: 2;
    Padding: 70px;
    
}
.item15{
    grid-column-start: 6;
}


/*------------------------------footer---------------------*/
/*footer{
    background-color:bisque;
    margin: auto;
    color: black;
   
}

.brand{
    grid-column-start: 4;
    padding: 2rem;
    display: inline;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 2px solid rgb(210, 160, 14);
    grid-row-start: 4;
    
}
input [type = text]{
    padding: 8px 10px;
    background-color: rgb(22, 19, 19);
    border:1px solid #ccc;
    outline: none;
    color-interpolation-filters: white;
}
.btn{
color:black;
background-color: #ccc;
outline: none;
border:none;
padding: 9px 25px;
border-radius: 14px;
font-size: 14px;
font-weight: 600;
}
.btn:hover{
    background-color: rgb(210, 160, 14);
}
p{
    opacity: 0.9;
    margin-top: 10px;
}

.shop-name{
grid-column-start: 3;
grid-row-start: 3;
display: inline;
}

.categorie{
    grid-column-start: 4;
    grid-row-start: 4;
    padding: 2rem;
    display: inline;
    text-decoration: none;
}
.top-marques{
grid-column-start: 4;
grid-row-start: 4
;
}
.confidentialite{
    grid-row-start: 3;
    
    
}
.social{
    grid-row-start: 2;
    padding: 2rem;
    justify-content: space-between;
    border-top: 2px solid rgb(210, 160, 14);
    grid-row-start: 4;
    grid-column-start: 3;
    border: 3px solid black;
}

/*-------------------------------div-------------------------*/

/*-----------------------------------------newfooter---------------------*/
.brand{
    grid-column-start: 5;

}